<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete product</title>
    <link rel="stylesheet" href="/bootstrap-5.0.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="text-center text-danger mt-4 mb-4">Delete Product</h1>
    <form th:action="@{'/delete?id=' + ${product.id}}" method="post" class="w-50 m-auto">
        <div class="row mb-2">
            <span class="form-label col-4 fw-bold">Name</span>
            <p class="col-8" th:text="${product.name}"></p>
        </div>
        <div class="row mb-2">
            <span class="form-label col-4 fw-bold">Price</span>
            <p class="col-8" th:text="${product.price}"></p>
        </div>
        <div class="row mb-2">
            <span class="form-label col-4 fw-bold">Description</span>
            <p class="col-8" th:text="${product.description}"></p>
        </div>
        <div class="row mb-2">
            <span class="col-4 fw-bold">Category</span>
            <p class="col-8" th:text="${product.category.name}"></p>
        </div>
        <div class="d-flex align-items-end justify-content-end">
            <a href="/" class="btn btn-success mr-3 m-lg-2">Cancel</a>
            <button type="submit" class="btn btn-danger m-lg-2">Delete</button>
        </div>
    </form>
</div>
</body>
</html>
